# Copiar a .env y completar con las credenciales reales.
#
# Formato: cloudinary://<API_KEY>:<API_SECRET>@<CLOUD_NAME>
CLOUDINARY_URL=cloudinary://TU_API_KEY:TU_API_SECRET@TU_CLOUD_NAME

# Credenciales para la base de datos
DB_URL=jdbc:mysql://localhost:3306/nombre_base_de_datos?createDatabaseIfNotExist=true
DB_USERNAME=TU_USUARIO_MYSQL
DB_PASSWORD=TU_PASSWORD_MYSQL
